<div class="projects-2" id="challenges">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Challenges</h2>
        <div class="section-space"></div>
      </div>
    </div>

    <% data.challenges.each_slice(3) do |challenges| %>
      <div class="row">
        <% challenges.each do |challenge| %>
          <div class="col-md-4">
            <div class="card card-plain">
              <% unless challenge.thumbnail.nil? %>
                <a href="<%= challenge.external_link %>" target="_blank">
                  <div class="card-image">
                    <%= image_tag challenge.thumbnail %>
                  </div>
                </a>
              <% end %>
              <div class="content">
                <a href="<%= challenge.external_link %>" target="_blank">
                  <h4 class="card-title"><%= challenge.title %></h4>
                </a>
                <p class="card-description"><%= challenge.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-3 col-md-offset-3 text-center">
        <a href="images/content/EMMHack2016-Challenges.pdf" class="btn btn-primary btn-raised" target="_blank">
          <i class="material-icons">file_download</i>
          All Challenges
        </a>
      </div>
      <div class="col-md-3 text-center">
        <a href="http://jnz-th.com/G7ZkT" class="btn btn-default btn-raised" target="_blank">
          <i class="material-icons">add</i>
          Submit a Challenge
        </a>
      </div>
    </div>
  </div>
</div>
