<div class="projects-2" id="sponsors">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Sponsors</h2>
        <div class="section-space"></div>
      </div>
    </div>

    <div class="social-line social-line-big-icons social-line-white">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'sponsors/the-ih.png', class: 'img-responsive' %>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'sponsors/huawei.jpg', class: 'img-responsive' %>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'sponsors/telkom.png', class: 'img-responsive' %>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'sponsors/yowzit.png', class: 'img-responsive' %>
            </a>
          </div>
        </div>
        <div class="section-space"></div>
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <a href="#">
              <%= image_tag 'sponsors/interactive-factory.png', class: 'img-responsive' %>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'sponsors/gk.jpg', class: 'img-responsive' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
