---
title: Ekurhuleni Municipality Hackathon
---
<%= partial 'partials/header' %>
<div class="main main-raised">
  <%= partial 'partials/features' %>
  <%= partial 'partials/challenges' %>
  <%= partial 'partials/prizes' %>
  <%= partial 'partials/faqs' %>
  <%= partial 'partials/sponsors' %>
</div>

<div id="contact" class="section-space"></div>
<%= partial 'partials/contact' %>
